// Insert Wifi name
#define WIFI_NAME "WifiName"
#define WIFI_PWD "123qwe"

// Insert Firebase project API Key
#define API_KEY "---firebase--api--key---"
// Insert Databse URL */
#define DATABASE_URL "https://------------.firebasedatabase.app/"
// Insert Email and Password
#define USER_EMAIL "test@test.dev"
#define USER_PASSWORD "123qwe"